!!! 5

%html
%head
  %title Youth Group App Generator
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{:name=>'viewport',
        :content=>'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

%body
  %nav.navbar.navbar-default
    .container-fluid.clearfix
      %ul.nav.navbar-nav.pull-left
        %li
          = link_to 'Pages', admin_pages_path
        %li
          = link_to 'Calendars', admin_calendars_path
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to 'Open App', app_path, target: '_blank'

  .container
    = yield

